@page "/aboutus"
@layout NoMenuLayout

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="Aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
                        <img src="https://static.vecteezy.com/system/resources/previews/007/932/867/non_2x/about-us-button-about-us-text-template-for-website-about-us-icon-flat-style-vector.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>
                            We are a team of students from Air University, Islamabad, working on CashClicks as our semester project. Our goal is to create a user-friendly web platform that simplifies online experiences. With diverse skills and a commitment to excellence, we've crafted CashClicks to meet the needs of our users. We've overcome challenges and are proud to present CashClicks to the world. Explore our platform and join us on this exciting journey!
                            <br><br>
                            If you have any questions or feedback, please feel free to <a href="https://www.linkedin.com/in/awais2iv/">contact us</a>.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
