

#addmoney{
    
    width: 70%;
    height: 150px;
    margin-left: 150px;
   
}

#chartbox{
    width: 100%;
    height: 400px;;
    margin-top: 50px;
}

#recenttrans{
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.input-group{
    width: 50%;
    margin-left: 40px;
}
#addtrans{
    width: 30%;
    margin-left: 70%;
}

#totalcash {
    width: 350px; 
    height: 200px; 
    background-color: #9bc09e; 
    box-shadow: rgb(177, 174, 174) 5px 10px 5px ;;
}